/* style global de la liste non ordonné */
ul#list-photos{
  list-style:none;
  height:200px;
}
/* style des éléments de la liste */
ul#list-photos li{
  border:1px solid #ddd;
  padding:10px;
  cursor:move;
  height:165px;
  width:143px;
  float:left;
  margin-right:10px;
  background:#fff;
  color:#212326;
  font-size:12px;
  -moz-box-shadow:2px 2px 5px #555;
  -webkit-box-shadow: 8px 8px 12px #555; 
  box-shadow: 8px 8px 12px #555; 
}
/* style des images de la liste */
img.vignette_resize{height:auto;width:120px;}
img.vignette_resize{height:120px;width:auto;}
img.vignette_resize{margin-left: auto;   margin-right: auto;display:block;}

/* style des labels de l'image */
ul#list-photos li>p{
  	text-align:center;
  	font-weight:bold;
	font-size:18px;
}
ul#list-photos li>:first-letter {
  color:red;
  text-transform: uppercase;
}
/* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
ul#list-photos li.highlight{
  background:#f2f2f2;
  border:1px dashed #212326;
}
