<HTML>
<HEAD>
{% load staticfiles %}
{% comment %}
						JQuery UI includes part 
{% endcomment %}
<script type="text/javascript" src="{% static "js/jquery-1.8.2.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery-ui-1.9.1.custom.min.css" %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static "js/jquery-ui-1.9.1.custom.min.js" %}"></script>
{% comment %}
						Specific includes part 
{% endcomment %}
<link rel="stylesheet" href="{% static "css/vignettesort.css" %}" type="text/css" media="screen" />
{% comment %}
						Ajax Stuff 
{% endcomment %}
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>

</HEAD>
<BODY>
<script type="text/javascript">

$(document).ready( function(){ // quand la page a fini de se charger
  $("#list-photos").sortable({ // initialisation de Sortable sur #list-photos
	placeholder: 'highlight', // classe à ajouter à l'élément fantome
	update: function() {  // callback quand l'ordre de la liste est changé
		var order = $('#list-photos').sortable('serialize'); // récupération des données à envoyer
		$.post('newsorting/',order); // appel ajax au fichier ajax.php avec l'ordre des photos
	}
  });
  $("#list-photos").disableSelection(); // on désactive la possibilité au navigateur de faire des sélections
});
</script>
	<ul id="list-photos">
	{% for vignette in vignettes %}
	<li id="photo_{{vignette.id}}">
		<div class="image-container">
			<img src="{{vignette.image}}" class="vignette_resize" title="{{vignette.description}}" />
		</div>
		<p>{{vignette.title}}</p>
	</li>
	{% endfor %}
</ul>	
</BODY>
</HTML>
